<!DOCTYPE html>
<html>
<head>
    <title>My Static Website</title>
    <style>
        body {
          background-image: url('https://static.wikitide.net/projectsekaiwiki/thumb/0/08/Miku_23_art.png/1218px-Miku_23_art.png');
        }
    </style> 
</head>
<body>
    <h1>Welcome to My Static Website</h1>
    <p>This website is deployed using AWS CodePipeline.</p>
    <p>Submitted by Oswald Wong</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Id0yCfaoDsw?si=uuVJ-ibs_-dPscU2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">link to watch it on youtube</a>

</body>


</html>